



.three-div{
    padding-left: 200px;
    padding-top: 40px;
    font-size: 20px;
    color: white;
}

.three-select{
    background: #3c3c3c;
}

/* Border styles */
.table-1 thead, .table-1 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(230, 189, 189);
}
.table-1 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(230, 189, 189);

}

/* Padding and font style */
.table-1 td, .table-1 th {
padding: 5px 10px;
font-size: 30px;
font-family: Verdana;
color: rgb(177, 106, 104);
}

/* Alternating background colors */
.table-1 tr:nth-child(even) {
background: rgb(238, 211, 210)
}
.table-1 tr:nth-child(odd) {
background: #FFF
}


/* Border styles */
.table-2 thead, .table-2 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(230, 189, 189);
}
.table-2 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(230, 189, 189);
}

/* Padding and font style */
.table-2 td, .table-2 th {
padding: 5px 85px;
font-size: 30px;
font-family: Verdana;
color: rgb(0, 0, 0);
}

/* Alternating background colors */
.table-2 tr:nth-child(even) {
background: grey
}
.table-2 tr:nth-child(odd) {
background: #FFF
}



.box{padding-top: 20px; width:410px; margin: 0 auto;}
.clock{position: relative; width:400px; height: 400px; border: 5px solid #fff; border-radius: 200px; background:-webkit-radial-gradient(center center,circle,#fff,#bbb); box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.8); }
.clock .clock-xin{position: absolute; top: 50%; left: 50%; width:30px; height: 30px; border-radius: 15px; background: #eee;margin:-15px 0 0 -15px;}
.clock .clock-xin2{position: absolute; top: 50%; left: 50%; width:12px; height: 12px; border-radius: 6px; background: #f00; z-index: 100; margin:-6px 0 0 -6px;}
.clock .date{position: absolute; z-index: 3; top: 245px; left: 130px; font-size: 20px; color: #000; text-shadow: 1px 1px white; }
.clock .hour{position: absolute; z-index: 3; top: 50%; left: 50%; width:160px; height: 6px; border-radius:5px; background: #000; -webkit-transform-origin: 10px 50%; margin:-3px 0 0 -10px;}
.clock .min{position: absolute; z-index: 4;top: 50%; left: 50%; width:180px; height: 4px; border-radius:5px; background: #333; -webkit-transform-origin: 10px 50%; margin:-2px 0 0 -10px;}
.clock .sec{position: absolute; z-index: 5; top: 50%; left: 50%; width:210px; height: 2px; background: #f00; -webkit-transform-origin: 30px 50%; margin:-1px 0 0 -30px;}
.clock em{display: block; width: 2px; height: 5px; background: #000; position: absolute; top: 0; left: 0; -webkit-transform-origin: 50% 0; margin-left: -1px;}
.clock em.ishour{width: 6px; height: 10px; margin-left: -3px;}
.clock em.ishour i{font-size: 25px; color: #000; position: absolute; top: 12px; left: -7px;text-shadow: 1px 1px white; }



.time-container{width: 510px;margin: 0 auto;display: flex;display: -webkit-flex;background: #252525;padding: 15px;}
	.flex{position: relative; flex:1;height: 150px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;z-index: 1; margin: 10px;}
	.flex > span {position: absolute; top:50%; left: 50%; margin-left: -50px; margin-top: -50px; display: inline-block;width: 100px;line-height: 100px;-webkit-border-radius: 100px;-moz-border-radius: 100px;font-size: 50px;text-align: center;background: #252525;font-weight: bold;color: #ffffff;z-index: 1000;}

	.flex > .left,.flex > .right,.flex > .rotate{position: absolute;}
	.flex > .left{width: 50%;height: 100%;z-index: 99;background: #252525;left: 0;top: 0;}
	.flex > .right{left: 0;top:0;display: none;width: 100%;height: 100%;z-index: 10;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;}
	.flex > .rotate{width: 50%;height:100%;top:0;left: 0;z-index: 100;overflow: hidden;-webkit-transform:rotate(30deg);transform:rotate(30deg);transform-origin:100% 50%;}
	.flex > .rotate > .rotate-part{position: absolute;width: 200%;height: 100%;left: 0;top: 0;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;}
	#time-hour > .rotate > .rotate-part,#time-hour>.right{background: #DB5C1C;}
	#time-minute > .rotate > .rotate-part,#time-minute>.right{background: #2272CE;}
	#time-sec > .rotate > .rotate-part,#time-sec>.right{background: #71A713;}


.nowtime{
    font-family: "Microsoft YaHei";
    font-size:15px ;
}